.card-comments img {
  width: 4rem; }

.h184{
  height: 184px;
}


.view img {
  height: 184px;
}

.btn.btn-outline-info.waves-effect
{
height: 50px;
text-align: center;

}

.aaa {
  color: red;
}
.bbb {
  font-size: 20px;
}
.sub {
  font-size : 0.8rem;
}