<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jinja Test Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>   

<body>
    <!--     d = {'title': '제목', 'name' : Markup("<strong>이름</strong>"), 'dic' : dic, 'mu' :mu, 'lst' : lst} -->
    <div>Jinja Test <br>
        이것은 {{d.title}}이다.<br>
        이것은 {{d.name}}이다.<br>
        {{d.dic.C}}는 dic['C']의 값이다.
        
    </div>
    <hr>
    {{ 'abc {ef} ghi' }} <br>
    {{ "}}>> <strong>Strong</strong>"}}<br>   
    {{ '}}>> <strong>Strong</strong>' | escape }}<br>
    <!-- html tag를 달고 싶을 때 -->
    {{ "<strong>Strong1</strong>" | safe}} <br>
    <!-- strong tag를 삭제하고싶을 때 -->
    {{ "<strong>Strong2</strong>" | striptags}}
    
    <hr>
    <!-- 내 코드를 보이고 싶을 때 raw를 많이 쓴다. -->
    {% raw %}
	{% if True  %}
    		TTT
	{% endif %}
    {% endraw %}

    <hr>
    {{d.mu}}

    <hr>
    <ul>
        {% for songtitle, singer, isShow in d.lst if isShow%}
            <li class="{{loop.cycle('aaa', 'bbb')}}">{{songtitle}} : {{singer}}{%if loop.first%} aaa {%endif%}</li>
            
        {% endfor %}
    </ul>

    <hr>
    <ul>
        {%for songtitle, singer, isShow in d.lst%}
        <li>{{songtitle}}: {{singer}} - {{loop.first}} 
            {% if songtitle == '노래1' %} 노사연 {% elif songtitle == '노래2'%} 노사봉 {% else %} 다른사람 {% endif %}
            {%endfor%}
        </li>

    </ul>

    <hr>
    <ul>
        {%for rank, t, s, isTrue, ref in lst2 recursive %}
            <li>{{rank}}위 {{s}}의 {{t}}
                {%if ref%}
                <ul class="sub"> {{loop(ref)}}</ul>
                {%endif%}
            </li>
        {%endfor%}
    </ul>
    <hr>
    <ul>
        {%for a, b in trylst recursive %}
            <li>{{a}}
                {%if b%}
                <ul class="sub"> {{loop(b)}}</ul>
                {%endif%}
            </li>
        {%endfor%}
    </ul>
    <ul>
        {%for nav in navs recursive %}
            <li>
                <a href="{{nav.url}}">{{nav.title}}</a>
                {%if nav.children%}
                <ul class="sub"> {{loop(nav.children)}}</ul>
                {%endif%}
            </li>
        {%endfor%}
    </ul>
    
    <div class="container">
        <ul>
            {%for user in userlist%}
            <li>{{user.id}}, {{user.email}}, {{user.nickname}}</li>
            {%endfor%}
        </ul>
    </div>

    <div>
        Copyright <a href="{{ url_for('req_param') }}">IndiFlex Senior Coding</a>
    </div>
</body>
</html>