{%extends 'layout.htm' %}
{%block main%} 
<!--Main layout-->
<main class="mt-5 pt-5">
<div class="container">

    <!--Section: Jumbotron-->
    <section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

    <!-- Content -->
    <div class="card-body text-white text-center py-5 px-5 my-5">

        <h1 class="mb-4">
        <strong>From Python to Flask</strong>
        </h1>
        
        <p>
        <h4><strong>With notetaking, we prepared sample codes to consolidate what we've learned. </strong></h4>
        </p>
        <p>
        <h4><strong>There are also some tips that we had figured out,  dealing with some common errors</strong></h4>
        </p>


        <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Boards &nbsp<i class="far fa-clipboard"></i>
        <!-- <i class="fas fa-graduation-cap ml-2"></i> -->
        </a>

    </div>
    <!-- Content -->
    </section>
    <!--Section: Jumbotron-->

    <hr class="my-5">

    <!--Section: Cards-->
    <section class="text-center">

    <!--Grid row-->
    <div class="row mb-4 wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
            
        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
            <img src="{{url_for('static', filename='img/python-logo.png')}}" class="card-img-top"
                alt="">
            <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>

            </div>

            </div>

            <!--Card content-->
            <div class="card-body">
            <!--Title-->
            <h4 class="card-title text-primary">Python</h4>
            <!--Text-->
            <p class="card-text">How to use function, class, module, regular expression in Python
            </p>
            <a href="/python" target="_blank"
                class="btn btn-primary btn-md">Go to Python
                <i class="fas fa-play ml-2"></i>
            </a>

            </div>

        </div>
        <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

        <!--Card-->
        <div class="card">
            <!--Card image-->
            <div class="view overlay">
            <img src="{{url_for('static', filename='img/linux.png')}}" class="card-img-top"
                alt="">
            <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>

            <!--Card content-->
            <div class="card-body">
            <!--Title-->
            <h4 class="card-title text-primary">Linux</h4>
            <!--Text-->
            <p class="card-text">Learn how to create a smart website which learns your user and reacts properly to
                his behavior.</p>
            <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank"
                class="btn btn-primary btn-md">Go to Linux
                <i class="fas fa-play ml-2"></i>
            </a>
            </div>

        </div>
        <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
            <img src="https://mdbootstrap.com/wp-content/uploads/2018/01/push-fb.jpg" class="card-img-top" alt="">
            <a href="https://mdbootstrap.com/education/tech-marketing/web-push-introduction/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>

            <!--Card content-->
            <div class="card-body">
            <!--Title-->
            <h4 class="card-title text-primary">Docker</h4>
            <!--Text-->
            <p class="card-text">Push messaging provides a simple and effective way to re-engage with your users
                and in this
                tutorial you'll learn how to add push notifications to your web app</p>
            <a href="https://mdbootstrap.com/education/tech-marketing/web-push-introduction/" target="_blank" class="btn btn-primary btn-md">Go to Docker
                <i class="fas fa-play ml-2"></i>
            </a>
            </div>

        </div>
        <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row mb-4 wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-angular.jpg" class="card-img-top"
                alt="">
            <a href="https://mdbootstrap.com/angular/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>

            <!--Card content-->
            <div class="card-body">
            <!--Title-->
            <h4 class="card-title text-primary">MySQL & Oracle & MongoDB</h4>
            <!--Text-->
            <p class="card-text">Built with Angular 5, Bootstrap 4 and TypeScript. CLI version available. </p>
            <a href="https://mdbootstrap.com/angular/" target="_blank" class="btn btn-primary btn-md">Go to SQL
                <i class="fas fa-download ml-2"></i>
            </a>
            </div>

        </div>
        <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-react.jpg" class="card-img-top" alt="">
            <a href="https://mdbootstrap.com/react/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>

            <!--Card content-->
            <div class="card-body">
            <!--Title-->
            <h4 class="card-title text-primary">HTML & CSS & Javascript</h4>
            <!--Text-->
            <p class="card-text">Based on the latest Bootstrap 4 and React 16. </p>
            <a href="https://mdbootstrap.com/react/" target="_blank" class="btn btn-primary btn-md">Go to HTML
                <i class="fas fa-download ml-2"></i>
            </a>
            </div>

        </div>
        <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-vue.jpg" class="card-img-top" alt="">
            <a href="https://mdbootstrap.com/vue/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>

            <!--Card content-->
            <div class="card-body">
            <!--Title-->
            <h4 class="card-title text-primary">Flask</h4>
            <!--Text-->
            <p class="card-text">Based on the latest Bootstrap 4 and Vue 2.5.7. </p>
            <a href="https://mdbootstrap.com/vue/" target="_blank" class="btn btn-primary btn-md">Go to Flask
                <i class="fas fa-download ml-2"></i>
            </a>
            </div>

        </div>
        <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->


    </section>
    <!--Section: Cards-->

</div>
</main>
{%endblock main%}